/* ALL DOCU */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;

  --regulardruk: "druk_text_wide_trialmedium";
  --italicdruk: "druk_text_wide_trialHvIt";
}

body {
  font-size: 14px;
  background-color: #000;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: #fff;
  font-family: var(--italicdruk);
  text-transform: uppercase;
}

p,
span {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  background: #000;
  border: 1px solid none;
  padding: 0.8rem 5rem 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: inset 1px 1px 1rem 1px #ffffff !important;
  text-decoration: none;
}

.hidden {
  display: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/*** HEADER ***/

header {
  display: flex;
  justify-content: center;
}

#header__logo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

#header__blaa {
  width: 100%;
  max-width: 1756px;
  height: 100%;
  animation: neon 5s forwards;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 5px rgb(85, 146, 231));
}

@keyframes neon {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  11% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0.8;
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0.92;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  42% {
    opacity: 0.7;
  }
  44% {
    opacity: 1;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0.7;
  }
  73% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  91% {
    opacity: 0.92;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#header__teater--vertical {
  width: 100%;
  max-width: 90.92px;
  height: auto;
  display: none;
}

#header__teater--horizontal {
  width: 20vw;
  height: auto;
  align-self: flex-end;
}

/*** MAIN ***/
main {
  margin-top: 30px;
}

/* main > div {
  background-image: url(images/test-front.png);
  background-repeat: no-repeat;

} */

main > h2 {
  padding-block: 10px 20px;
  padding-inline: 10px;
}

#quiz__container {
  background-image: url(images/test-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quiz__start-container {
  margin-block: 100px;
}

#quiz__container h1,
#quiz__container h2,
#quiz__container h3,
#quiz__container h4 {
  text-shadow: 3px 3px 6px #000;
}

#quiz__start-container .button {
  box-shadow: 2px 2px 4px #000;
}

#quiz__start-container h1 {
  text-align: right;
  margin-block-end: 20px;
  padding-inline: 10px;
}

#quiz__start-container h3,
#quiz__question-container h2,
#quiz__result-container h3 {
  text-align: center;
  margin-block-end: 20px;
  padding-inline: 10px;
  letter-spacing: 1.8px;
}

#quiz__question-container h2 {
  margin-block-end: 70px;
}

#quiz__start-button {
  text-align: center;
  margin: 50px;
}
#quiz__start-button div {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  padding: 20px;
}

.quiz__answer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 20px 5px;
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-align: center;
}

.quiz__answer-box:hover {
  box-shadow: inset 0px 0px 6px 0px #ffffff !important;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#quiz__result-title {
  font-size: 2rem;
  font-family: var(--italicdruk);
}

#quiz__result-container div {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-block-end: 10px;
}

#quiz__result-text1,
#quiz__result-text2,
#quiz__result-text3 {
  margin-block: 25px;
  font-size: 1.4rem;
  padding-inline: 10px;
  line-height: 30px;
}
#quiz__result-text1 {
  margin-block: 10px 25px;
}
#quiz__result-text3 {
  margin-block: 25px 10px;
}

/* #video-container {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-image: url(images/placeholder_u_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#video_video {
  grid-area: 1 / 1 / 12 / 12;
  z-index: 1;
}

#video_title {
  grid-area: 6 / 4 / 7 / 9;
  text-align: center;
  z-index: 2;
}

#video_cta {
  grid-area: 8 / 5 / 9 / 8;
  font-size: 16px;
  z-index: 2;
} */

/*** FOOTER ***/

.footer {
  padding: 20px 30px;
}

/*** TABLET ***/
@media screen and (min-width: 1756px) {
}

/*** DESKTOP ***/
@media screen and (min-width: 1756px) {
}

/*** LARGE DESKTOP ***/
@media screen and (min-width: 1709px) {
  #header__teater--vertical {
    display: inline-block;
  }

  #header__teater--horizontal {
    display: none;
  }

  #header__logo {
    display: flex;
    flex-direction: row;
  }
}
