/* ALL DOCU */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;

  --regulardruk: "druk_text_wide_trialmedium";
  --italicdruk: "druk_text_wide_trialHvIt";
  --neonyellow: #d5f945;
  --pink: #ffc2fe;
  --neonorange: #ff5d2d;
  --blue: #0069f0;
  --neongreen: #00d62b;
}

body {
  font-size: 14px;
  background-color: #000;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: #fff;
  font-family: var(--italicdruk);
  text-transform: uppercase;
}

p,
span {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  background: #000;
  padding: 0.8rem 5rem 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
}

.button:hover {
  box-shadow: inset 1px 1px 1rem 1px #ffffff !important;
  text-decoration: none;
}

.hidden {
  display: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

/*** HEADER ***/

header {
  display: flex;
  justify-content: center;
}

#header__logo {
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

#header__blaa {
  width: 100%;
  max-width: 1756px;
  height: 100%;
  animation: neon 5s forwards;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 5px rgb(85, 146, 231));
}

@keyframes neon {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  11% {
    opacity: 1;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0.8;
  }
  18% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  31% {
    opacity: 0.92;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  42% {
    opacity: 0.7;
  }
  44% {
    opacity: 1;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0.7;
  }
  73% {
    opacity: 1;
  }
  89% {
    opacity: 1;
  }
  91% {
    opacity: 0.92;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#header__teater--vertical {
  width: 100%;
  max-width: 90.92px;
  height: auto;
  display: none;
}

#header__teater--horizontal {
  width: 20vw;
  height: auto;
  align-self: flex-end;
}

/*** MAIN ***/
main {
  margin-top: 10px;
}

main > h2 {
  margin-block: 5px 20px;
  margin-inline: 10px;
}

/*** QUIZ STYLING ***/

#quiz__container {
  background-color: transparent;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#quiz__start-container,
#quiz__question-container,
#quiz__result-container {
  max-width: 700px;
}

#quiz__container h1,
#quiz__container h2,
#quiz__container h3,
#quiz__container h4 {
  text-shadow: 3px 3px 6px #000;
}

#quiz__container #quiz__container-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 700px;
  object-fit: none;
  object-position: 70% 10%;
  z-index: -1;
}

#quiz__start-container {
  margin-block-end: 250px;
}

#quiz__container p {
  font-weight: 700;
}
#quiz__question-container {
  margin-block-end: 100px;
}

#quiz__start-container .button {
  box-shadow: 2px 2px 4px #000;
}

#quiz__start-container h1 {
  text-align: right;
  margin-block-end: 20px;
  padding-inline: 10px;
}

#quiz__start-container h3,
#quiz__question-container h2,
#quiz__result-container h3 {
  text-align: center;
  margin-block-end: 20px;
  padding-inline: 10px;
  letter-spacing: 1.8px;
}

#quiz__question-container h2 {
  margin-block-end: 70px;
}

#quiz__start-container h3 {
  padding-block-end: 40px;
}

#quiz__start-button {
  box-sizing: border-box;
  text-align: center;
  margin-inline: auto;
  font-weight: 700;
  width: 350px;
}

.quiz__answer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 20px 20px;
  margin: 20px 5px;
  font-size: 1.3rem;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-align: center;
}

.quiz__answer-box:hover {
  box-shadow: inset 0px 0px 6px 0px #ffffff !important;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#quiz__result-title {
  font-size: 2rem;
  font-family: var(--italicdruk);
}

#quiz__result-container > div {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 20px 5px;
  margin: 20px 5px;
}

#quiz__result-text1,
#quiz__result-text2,
#quiz__result-text3 {
  margin-block: 25px;
  font-size: 1.4rem;
  padding-inline: 10px;
  line-height: 30px;
}
#quiz__result-text1 {
  margin-block: 10px 25px;
}
#quiz__result-text3 {
  margin-block: 25px 10px;
}

#registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registration p {
  text-align: center;
  line-height: 1.5rem;
  max-width: 65ch;
  padding-inline: 10px;
  margin-block-end: 10px;
  text-shadow: 2px 2px 6px #000;
  margin-inline: auto;
}

#registration p span {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 700;
}

#registration-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 0 auto 10px;
  width: 320px;
}

#registration-input input {
  background-color: #000;
  border: 1px solid rgb(35, 35, 35);
  color: #fff;
  padding-block: 10px;
  text-align: center;
  width: 170px;
}

#registration-input input::placeholder {
  color: #fff;
  font-family: var(--regulardruk);
  text-transform: uppercase;
}

.tilmeld {
  box-sizing: border-box;
  text-align: center;
  display: block;
  width: 350px;
  margin-inline: auto;
}

.tilmeld:hover {
  cursor: pointer;
}

/*** GOOGLE REVIEW ***/

.elfsight-app-030bb501-2a97-4cf0-ba2b-73dcf7c982b1 {
  margin: 30px 10px;
  padding: 10px;
}

.Main__Container-sc-1n4ud0o-0.dFwLrb > a {
  display: none;
}

.kXaVQX {
  margin-bottom: 0;
  font-family: var(--italicdruk);
  text-transform: uppercase;
}

.fRpinn:not(:first-child) {
  margin-top: 20px;
}

.cEGUfl {
  padding: 10px 10px 10px 25px;
}

/* copy styling */

.om_blaagaad {
  padding-block: 1rem;
  display: grid;
  /* text-align: center; */
}
.hvad_er h2 {
  padding-bottom: 20px;
  margin-inline: 20px;
  font-size: 2.3rem;
  margin-top: 20px;
}
.om_blaagaad p {
  /* text-transform: uppercase; */
  font-family: Helvetica, Arial, sans-serif;
  padding-block: 0.5rem;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-inline: 20px;
  margin-bottom: 10px;
}

.copy_grid_1 p,
.hvad_er p {
  text-transform: none;
  padding-block: 0;
}

.om_blaagård h4 {
  font-family: var(--italicdruk);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: var(--pink);
  color: black;
  width: 350px;
  padding: 20px;
  line-height: 1.4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px white;
  text-align: left;
}

h4 span {
  color: black;
  text-shadow: none;
}
.hashtags {
  padding-block: 30px;
}
.hashtags h3 {
  font-size: 1.7rem;
  text-align: center;
  padding-block: 10px;
}
.h3_1 {
  color: var(--blue);
  padding-block: 5px;
}
.h3_2 {
  color: var(--pink);
  padding-block: 5px;
}
.h3_3 {
  padding-block: 5px;
  color: var(--neongreen);
  margin-right: 10px;
}
.om_blaagaad img {
  max-width: 100%;
  z-index: 1;
  padding-top: 10px;
}
.om_noerrebro h2 {
  margin-inline: 20px;
  margin-top: 20px;
  text-align: right;
  font-size: 1.7rem;
}
.img_hvad_er {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}
/* button {
  background: #000;
  padding: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border: 1px solid #fff;
} */

/*** FOOTER ***/

.footer {
  padding: 20px 30px;
}

/*** LANDING PAGE STYLES ***/

hr {
  margin-block-end: 40px;
}

#indholdsfortegnelse li {
  list-style-type: disc;
  margin-inline: 50px;
  font-size: 1.7rem;
}
#indholdsfortegnelse li:nth-child(1) {
  margin-block-start: 20px;
}

#indholdsfortegnelse li:last-child {
  margin-block-end: 20px;
}
#links,
#video,
#foto {
  margin-inline: 5px;
  padding-block: 20px;
}

#links article,
#video article,
#foto article {
  margin-block-end: 50px;
}

#links article h2,
#video article h2,
#foto article h2,
#links article h4,
#video article h4,
#foto article h4 {
  margin-block: 10px;
}

#video__kampagne .video-mobile,
#video__kampagne .video-tablet {
  margin-inline: auto;
}
#video h2,
#foto h2 {
  margin-block: 10px;
  text-decoration: underline;
}

#video article h4,
#foto article h4 {
  font-family: var(--regulardruk);
  font-size: 1rem;
  margin-block-end: 10px;
}

#links h4 {
  margin-block: 10px;
}

.video-mobile {
  display: block;
}
.video-tablet {
  display: none;
}
.video-desktop {
  display: none;
}

#foto img {
  width: 100%;
  height: auto;
  padding: 5px;
  border: 1px solid #fff;
}

/*** TABLET ***/
@media screen and (min-width: 756px) {
  #quiz__container {
    position: relative;
    min-height: 550px;
  }

  #registration-input {
    gap: 100px;
    width: 600px;
  }

  #registration-input input {
    width: 200px;
  }

  .tilmeld {
    width: 504px;
  }

  #quiz__container-bg {
    top: 0% !important;
    object-fit: cover;
    height: 550px;
  }

  /*** Landing Page ***/

  .video-mobile {
    display: none;
  }
  .video-tablet {
    display: block;
  }
}

/*** DESKTOP ***/
@media screen and (min-width: 1100px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main {
    width: 1100px;
    margin-inline: auto;
  }

  .video-tablet {
    display: none;
  }
  .video-desktop {
    display: block;
  }

  .img_hvad_er {
    margin-top: 40px;
  }
}

/*** LARGE DESKTOP ***/
@media screen and (min-width: 1709px) {
  #header__teater--vertical {
    display: inline-block;
  }

  #header__teater--horizontal {
    display: none;
  }

  #header__logo {
    display: flex;
    flex-direction: row;
    max-height: 222.1px;
  }
}
